@model Dictionary<string, string>

<div class="text-center">
    <h1 class="display-4">You're authenticated, @User.Identity.Name!</h1>
    <br />
    <h3>Claims</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model)
            {
                <tr>
                    <td><text>@claim.Key</text></td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
