@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome @User.Identity.Name!</h1>
    <p class="lead">Seems like you've configured everything and you can authenticate with a social identity provider!</p>
</div>

