@{
}

<div class="jumbotron">
    <h1>Identity Server Demo</h1>
    <p class="lead">Simple OpenID Connect (OIDC) Server Demo with ASP.NET and Identity Server.</p>
    <p><a href="https://github.com/lozanotek/aspnet-security" class="btn btn-primary btn-lg">Github Repo &raquo;</a></p>
</div>
